*.db
*.log
*.opendb
octet/src/projects/my_bridge/example_shapes.xcodeproj/project.pbxproj
octet/src/projects/my_bridge/example_shapes.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.psd
octet/src/projects/my_bridge/Videos/
